body {
  background-image: url("../img/main_background_blue.png");
}

.oot_btn{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28pt;
  border-radius: 32px;
  position:    absolute;
  left:        50%;        /* Start with top left in the center */
  top:         324px;
  width:       350px;      /* The fixed width... */
  height:      150px;      /* ...and height */
  margin-left: -125px;     /* Shift over half the width */
  margin-top:  -65px;      /* Shift up half the height */
  border: 1px solid black; /* Just for demo */
  cursor:pointer;
}

.runescape_btn{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28pt;
  border-radius: 32px;
  position:    absolute;
  left:        50%;        /* Start with top left in the center */
  top:         540px;
  width:       350px;      /* The fixed width... */
  height:      150px;      /* ...and height */
  margin-left: -125px;     /* Shift over half the width */
  margin-top:  -65px;      /* Shift up half the height */
  border: 1px solid black; /* Just for demo */
  cursor:pointer;
}
